{% for func_name, form in tab['forms'].items() %}

{% if form['layout'] == '6-column' %}
    <div class="col-xs-12 col-sm-12 col-md-12 item">
{% elif form['layout'] == '4-column' %}
    <div class="col-xs-12 col-sm-12 col-md-8 item">
{% else %}
   <div class="col-xs-6 col-sm-6 col-md-4 item">
{% end %}

    <div class="panel panel-{{ form['theme'] }}" {% if 'tip' in form %} data-toggle="tooltip" data-placement="top" title="{{ form['tip'] }}" {% end %}>
        <div class="panel-heading">
            <h3 class="panel-title text-center" >{% if 'title' in form %} {{ form['title'] }} {% else %} {{ func_name }} {% end %}</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal"
                {% if 'target' in form %}
                    target="{{ form['target'] }}"
                {% else %}
                    target="_self"
                {% end %}

                {% if 'method' in form %}
                    method="{{ form['method'] }}"
                {% else %}
                    method="post"
                {% end %}

                {% if 'enctype' in form %}
                    enctype="{{ form['enctype'] }}"
                {% end %}

                action="/{{ venv_name }}{{ form_action }}"

                {% if 'popup' in form %}
                    popup="{{ form['popup'] }}"
                {% end %}
            >
                <input type="hidden" name="_module" value="{{ tab['module_name'] }}" />
                <input type="hidden" name="_func" value="{{ func_name }}" />
                <input type="hidden" name="_type" value=""> 

                {% for arg_name, arg in form['args'].items() %}
                    {% if arg_name in ["_jsoneditor_content"] %}
                        <input type="hidden" name="{{ arg_name }}" value="" />
                     {% elif arg_name in ["ctx"] %}
                        <input type="hidden" name="_uid" value="" />
                        <input type="hidden" name="_zone" value="" />
                    {% else %}

                        {% if form['layout'] == '6-column' %}
                            <div class="col-sm-2">
                            {% set form_group_class='form_group_margin' %}
                            {% set label_class='control-label' %}
                            {% set input_class='' %}
                        {% elif form['layout'] == '4-column' %}
                            <div class="col-sm-3">
                            {% set form_group_class='form_group_margin' %}
                            {% set label_class='control-label' %}
                            {% set input_class='' %}
                        {% elif form['layout'] == '2-column' %}
                            <div class="col-sm-6">
                            {% set form_group_class='form_group_margin' %}
                            {% set label_class='control-label' %}
                            {% set input_class='' %}
                        {% else %}
                            {% set form_group_class='' %}
                            {% set label_class='col-sm-4 control-label' %}
                            {% set input_class='col-sm-8' %}
                        {% end %}

                        {% if arg['input'] == 'datetime' %}
                            <div class="{{ form_group_class }} form-group form-group-sm has-feedback" {% if 'tip' in arg %} data-toggle="tooltip" data-placement="top" title="{{ arg['tip'] }}" {% end %}>
                                <label class="{{ label_class }}">{{ arg['desc'] }}</label>
                                <div class="{{ input_class }}">
                                    <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
                                    <input name="{{ arg_name }}" type="text" class="form-control input-sm datetimepicker" {{ arg['status'] }}>
                                </div>
                            </div>
                        {% elif arg['input'] == 'select' %}
                            <div class="{{ form_group_class }} form-group form-group-sm {% if 'submit' in form and form['submit'] == arg_name %} hidden {% end %}" {% if 'tip' in arg %} data-toggle="tooltip" data-placement="top" title="{{ arg['tip'] }}" {% end %}>
                                <label class="{{ label_class }}">{{ arg['desc'] }}</label>
                                <div class="{{ input_class }}">
                                    <select name="{{ arg_name }}" class="form-control input-sm" {{ arg['status'] }}>
                                        {% for value,desc in arg['options'].items() %} 
                                            <option value="{{ value }}">{{ desc }}</option>
                                        {% end %}
                                    </select>
                                </div>
                            </div>
                        {% elif arg['input'] == 'selectpicker' %}
                            <div class="{{ form_group_class }} form-group form-group-sm {% if 'submit' in form and form['submit'] == arg_name %} hidden {% end %}" {% if 'tip' in arg %} data-toggle="tooltip" data-placement="top" title="{{ arg['tip'] }}" {% end %}>
                                <label class="{{ label_class }}">{{ arg['desc'] }}</label>
                                <div class="{{ input_class }}">
                                    <select name="{{ arg_name }}" class="form-control input-sm selectpicker" data-live-search="true" data-size="10" data-width="100%" {{ arg['status'] }} {% if 'multiple' in arg %} multiple {% end %}>
                                        {% for value,desc in arg['options'].items() %}
                                            <option value="{{ value }}" {% if value != desc %}data-subtext="{{ value }}"{% end %}>{{ desc }}</option>
                                        {% end %}
                                    </select>
                                </div>
                            </div>
                        {% elif arg['input'] == 'checkbox' %}
                            <div class="{{ form_group_class }} form-group form-group-sm" {% if 'tip' in arg %} data-toggle="tooltip" data-placement="top" title="{{ arg['tip'] }}" {% end %}>
                                <label class="{{ label_class }}">{{ arg['desc'] }}</label>
                                <div class="checkbox {{ input_class }}">
                                    {% for value, desc in arg['options'].items() %} 
                                    <label>
                                        <input type="checkbox" name="{{arg_name}}" value="{{ value }}"> {{ desc }}
                                    </label>
                                     {% end %}
                                </div>
                            </div>
                        {% elif arg['input'] == 'textarea' %} 
                            <div class="{{ form_group_class }} form-group form-group-sm" {% if 'tip' in arg %} data-toggle="tooltip" data-placement="top" title="{{ arg['tip'] }}" {% end %}>
                                <label class="{{ label_class }}">{{ arg['desc'] }}</label>
                                <div class="{{ input_class }}">
                                    <textarea name="{{ arg_name }}" {% if 'placeholder' in arg %} placeholder="{{ arg['placeholder'] }}" {% end %} type="text" class="form-control input-sm" rows="5" {{ arg['status'] }}>{{ arg['default'] }}</textarea>
                                </div>
                            </div>
                        {% elif arg['input'] == 'file' %}    
                            <div class="{{ form_group_class }} form-group form-group-sm" {% if 'tip' in arg %} data-toggle="tooltip" data-placement="top" title="{{ arg['tip'] }}" {% end %}>
                                <label class="{{ label_class }}">{{ arg['desc'] }}</label>
                                <div class="{{ input_class }}">
                                    <input name="{{ arg_name }}" type="file" class="form-control input-sm" {{ arg['status'] }}></input>
                                </div>
                            </div>
                        {% else %}
                            <div class="{{ form_group_class }} form-group form-group-sm" {% if 'tip' in arg %} data-toggle="tooltip" data-placement="top" title="{{ arg['tip'] }}" {% end %}>
                                <label class="{{ label_class }}">{{ arg['desc'] }}</label>
                                <div class="{{ input_class }}">
                                    {% if 'datalist' in arg %}
                                        <input name="{{ arg_name }}" list="{{ func_name + '_' + arg_name }}_datalist" value="{{ arg['default'] }}"  {% if 'placeholder' in arg %} placeholder="{{ arg['placeholder'] }}" {% end %} type="text" class="form-control input-sm" {{ arg['status'] }}>
                                        <datalist id="{{ func_name + '_' + arg_name }}_datalist">
                                            {% for value,desc in arg['datalist'].items() %} 
                                                <option value="{{ value }}">{{ desc }}</option>
                                            {% end %}
                                        </datalist>
                                    {% else %}
                                        <input name="{{ arg_name }}" value="{{ arg['default'] }}" {% if 'placeholder' in arg %} placeholder="{{ arg['placeholder'] }}" {% end %} type="text" class="form-control input-sm" {{ arg['status'] }}>
                                    {% end %}
                                </div>
                            </div>
                        {% end %}

                        {% if form['layout'] != '1-column' %}
                            </div>
                        {% end %}

                    {% end %}
                {% end %}

                <!-- submit -->
                <div style="padding: 3px 0"></div>
               
                {% if 'submit' in form and 'options' in form['args'][form['submit']] %}
                <div class="text-right">
                    {% for value,desc in form['args'][form['submit']]['options'].items() %}
                        <button type="button" 
                            {% if 'targets' in form['args'][form['submit']] and value in form['args'][form['submit']]['targets'] %} data-form-target="{{ form['args'][form['submit']]['targets'][value] }}" {% end %} 
                            arg_name="{{ form['submit'] }}" class="btn btn-default btn-sm submit-btn" arg_value="{{ value }}" 
                            {{ tab['auth_forms'][func_name]['opcodes'][value] }}>{{ desc }}</button>
                    {% end %}
                </div>
                {% else %}
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <button type="submit" class="btn btn-default btn-sm submit-btn" {{ tab['auth_forms'][func_name]['opcodes']['0'] }}>Submit</button>
                    </div>
                </div>
                {% end %}
            </form>
        </div>
    </div>
</div>
{% end %}
