<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{deployed_venv['desc']}}</title>
    <!-- Bootstrap -->
    <link href="/{{ venv_name }}/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Date Range Picker -->
    <link href="/{{ venv_name }}/static/daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- Bootstrap select -->
    <link href="/{{ venv_name }}/static/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
    <!-- jsoneditor -->
    <link href="/{{ venv_name }}/static/jsoneditor/jsoneditor.min.css" rel="stylesheet">

    <link href="/{{ venv_name }}/static/css/index.css" rel="stylesheet">
</head>

<body>
    <div id="menu-container" class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" style="padding: 5px 15px;" href="/{{ venv_name }}/">
                        <img width="50" height="50" class="img-circle" title="{{ username }} ({{ auth_type }})" data-toggle="tooltip" data-placement="bottom" title="{{ username }} ({{ auth_type }})" src="{{ avatar_url }}">
                    </a>
                    <span class="visible-xs" style="height: 50px; padding: 6px 15px">
                        <button type="button" class="btn btn-default" style="color: #fff; background-color: transparent; border-color: #333; font-size: 18px" data-toggle="offcanvas">
                            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <a class="navbar-text" style="margin-top: 5px; margin-bottom: 5px;" href="/{{ venv_name }}/" data-toggle="tooltip" data-placement="bottom" title="[_VERSION_] Deployed by _DEPLOYER_">
                        <strong style="font-size: 18px;"><span class="badge badge-secondary">{{ venv_name }}</span> {{deployed_venv['desc']}}</strong>
                        <br>
                        <span>{{ username }}</span>
                    </a>
                    <div class="navbar-form navbar-left">
                        <!--  <select class="form-control" name="SERVER_TYPE" id="env_id" onchange="OnClickSetEnvID(true)">
                        </select> -->
                        <div class="form-inline">
                            <div class="form-group">
                                <select class="form-control" name="environ-type" id="environ-type" onChange="updateType()">
                                    <option value="0" >IOS</option>
                                    <option value="1" selected="selected">Android</option>
                                    <option value="2" selected="selected">PC</option>
                                </select>
                            </div>

                            <div class="form-group">
                            {% if venv_name == 'idc' %}
                               <!--  too many envs, so allow user to input it -->
                                <input list="zonelist" class="form-control" name="environ-zone" id="environ-zone" onChange="updateZone()" type="text"  placeholder="zoneid" value="0" data-toggle="tooltip" data-placement="bottom" title="zone ID">
                                <datalist id="zonelist">
                                    {% for zone_id, zone_conf in zones.items() %}
                                        <option value="{{ zone_id }}">{{ zone_conf['desc'] }}</option>
                                    {% end %}
                                </datalist>
                            {% else %}
                                <!--  default: select -->
                                <select class="form-control selectpicker" data-live-search="true" data-size="10" data-width="fit" name="environ-zone" id="environ-zone" onChange="updateZone()">
                                    {% for zone_id, zone_conf in zones.items() %}
                                        <option value="{{ zone_id }}">{{ zone_conf['desc'] }}</option>
                                    {% end %}
                                </select>
                            {% end %}
                            </div>

                            <div class="form-group">
                                <input list="uidlist" class="form-control" name="environ-uid" id="environ-uid" onChange="updateUID()" type="text"  placeholder="uid" value="0" data-toggle="tooltip" data-placement="bottom" title="uid">
                                <datalist id="uidlist"></datalist>
                            </div>
                        </div>
                    </div>
                    <ul class="nav navbar-nav">
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            环境<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                {% for desc, envs in venvs.items() %}
                                    <li class="dropdown-submenu">
                                        <a href="#">{{ desc }}</a>
                                        <ul class="dropdown-menu">
                                            {% for name, conf in envs.items() %}
                                                <li><a href="{{ conf['domain'] }}/{{ conf['path'] }}/" target="_blank">{{ conf['desc'] }}({{ name }})</a></li>
                                            {% end %}
                                        </ul>
                                    </li>
                                {% end %}
                            </ul>
                        </li>
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            高级<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#" data-toggle="collapse" data-target="#batch-panel" aria-expanded="false" aria-controls="batch-panel" >
                                        批处理
                                        <span class="glyphicon glyphicon-list-alt" aria-hidden="false" title="batch process"></span>
                                    </a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="#" data-toggle="collapse" data-target="#ChatPanel" aria-expanded="false" aria-controls="ChatPanel">
                                        TODO
                                        <span class="glyphicon glyphicon-comment" aria-hidden="false" title="TODO"></span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            更多<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                {% for name in package_names %}
                                <li><a href="/{{ venv_name }}/controller/list/{{name}}" target="_blank">{{name}}</a></li>
                                {% end %}
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-submenu">
                                    <a href="#">DB</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" target="_blank">dev</a></li>
                                        <li><a href="#" target="_blank">test</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="#">Prometheus</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" target="_blank">dev</a></li>
                                        <li><a href="#" target="_blank">test</a></li>
                                        <li><a href="#" target="_blank">prod</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <form id="fuzzy-search" class="navbar-form form-inline navbar-right">
                        <div class="form-group has-feedback">
                            <input id="search-keyword" class="form-control" name="search_input" data-provide="typeahead" type="text" autocomplete="off" placeholder="Search...">
                            <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
                        </div>
                    </form>
                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>
    </div>
